body {
  background-color: #464890;
  background-image: url('../images/fondo_principal.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* Texto claro que contrasta bien */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contenedor-formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer {
  background-color: #464890;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}