body {
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin: 20px;
    padding: 0;
}

h2 {
    color: rgb(14, 117, 162);
}

form {
    background-color: rgb(76, 105, 113);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(14, 117, 162);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(76, 105, 113);
}